*{
    margin:0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}

/*css da header*/
header{
    background-color: #002858;
}
header > nav > ul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;
}
header> nav > ul > li > a{
    color: #fff;
}
#apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-weight: bold;
    font-size: 3.2em;
}

/*css do form*/

body{
    text-align: center;
    height: 100%;
}
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #002858;
    padding: 1em;
}

.container {
    font-size: 30px;
    color: #656878;
    text-align: justify;
    padding: 0 1em 1em 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form{
    margin: 0 auto;
    width: 50%;
    text-align: left;
}
input {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #d1d1d1;
}
form{
    margin: 10px 0;
}
.estrelas{
    display: block;
    width: 45%;
    margin: 0 0  0 250px;
   
}
.comente{
    height: 200px;
}

/*css da parte das empresas inteligentes e opiniao*/
.content{
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #002858;
    padding: 1em;
}
.empresasopiniao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #000;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1em;
}
.empresasopiniao > div > img{
    width: 300px;
    height: 200px;
}
.empresasopiniao > div > p{
    width: 300px;
    text-align: left;
}
#empresas > div > h2{
    background-color: #de9e32;
    text-align: end;
    padding: 0.3em 1em 0.3em 1em;
}

#opiniao{
    background-color: #de9e32;
}
.nomeopiniao{
    margin-left: -60px;
    padding: 1em;
}
.nomespessoas{
    font-weight: bold;
    font-style: italic; 
}

/*css do footer*/
footer{
    text-align: center;
    background-color: #0f2558;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #d1d1d1;
}
.local > img{
    width: 40px;
    height: 55px;
    padding: 1em;

}
address{
    padding-bottom: 10px;
}
.iconesredes > a > img{
    width: 40px;
    height: 40px;
}