<header>

@{
    Html.RenderPartial("_HeaderNavBar");
}


    <div id="apresentacao">
        <div>
            <img src="imagens/logo.png" alt="Logotipo: Círculo azul claro com om Brasil em azul escuro no cebtro e uma localização em cima de tudo.">
        </div>
        <div>
            <h1>Ponto Digital <br></h1>
            <h2>Supervisão Inteligente</h2>
        </div>
    </div>
   
</header>

<main>
    <section class="container formulario">
        <h2 class="content">Login</h2>
        <form method="POST" action="/Cliente/Login">
            <label for="login">E-mail: </label>
            <br>
            <input name="email" id="login" type="text" maxlength="300" minlength="3" placeholder="Digite seu e-mail aqui" required>
            <br>
            
            <label for="password">Senha: </label>
            <br>
            <input type="password" name="senha" id="password" placeholder="Digite sua senha aqui" required >
            <br>
            <br>

            <input type="submit" value="Entrar">

            <br>
            <br>
            
            <a href='@Url.Action("Index", "Cadastro")' class="cadastrar"  target="_blank">Quero me Cadastrar!</a>
        </form>
    </section>

    <h2>Dizem por aí...</h2>

    <table>
        <thead>
            <th>Nome</th>
            <th>Comentário</th>
            <th>Data</th>
        </thead>
        <tbody>
            @foreach (var item in Model.ComentariosAprovados)
            {
                @if(item == null){
                    continue;
                }
                <tr>
                    <td>@item.Pessoa.Nome</td>
                    <td>@item.Comentario</td>
                    <td>@item.DataEntrada</td>
                </tr>
            }
        </tbody>
    </table>
  

        



</main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(function(){
        var nav = $('.menu');
        var botao = $('.btn_menu');
        botao.on('click', function(){
            nav.toggleClass("active");
        });
    }); 
    </script>