<header>
@{
    Html.RenderPartial("_HeaderNavBar");
}


    <div id="apresentacao">
        <div>
            <img src="imagens/logo.png" alt="Logotipo: Círculo azul claro com om Brasil em azul escuro no cebtro e uma localização em cima de tudo.">
        </div>
        <div>
            <h1>Ponto Digital <br></h1>
            <h2>Supervisão Inteligente</h2>
        </div>
    </div>
   
</header>

<main>

    <section id="acoes">
        <h2 class="content">Nossas Ações Sociais</h2>
        <p class="container">A Aí Sim disponibiliza financiamento, bem como as mais recentes tecnologias da empresa. Um responsável local da Aí Sim gere a implementação e a manutenção dos sistemas e soluções da Aí Sim, e membros da equipa local oferecem o seu tempo para apoiar as necessidades da organização. A Aí Sim também procura dar resposta a quaisquer necessidades básicas ou comunitárias que possam prejudicar a capacidade de aprendizagem das crianças, tais como alimentação ou segurança. Esta responsabilidade partilhada entre a Aí Sim e a comunidade — suportada pelos voluntários da Aí Sim — conduz a verdadeiras oportunidades de aprendizagem e mudança. </p>
    </section>
    <section id="contribuir">
        <h2 class="content">Como Contribuir</h2>
        <ul>
            <li><h3>TRANSFERÊNCIA</h3></li>
            <li>Conta Bancária</li>
            <li>Banco do Brasil</li>
            <li>Agência: 3324-3</li>
            <li>C/C: 382050-5</li>
            <li>Aí Sil ltda</li>
            <li>CNPJ 73.490.858/0001-66</li>
        </ul>
    </section>
</main>